RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]  

<Files "index.php">
AcceptPathInfo On
</Files>
php_value max_input_vars 10000000
php_value upload_max_filesize 500M
php_value post_max_size 500M
php_value max_execution_time 300000
php_value max_input_time 300000


php_value session.gc_maxlifetime 10*365*24*60*60
php_value session.cookie_lifetime 10*365*24*60*60
